@import '../../../styles/_variables.scss';

.main-footer {
    padding: 20px 0; // Reduced significantly
    background-color: #000000;
    color: #ffffff;

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 15px;
            text-align: center;
        }

        .footer-logo {
            img {
                height: 30px;
                width: auto;
                display: block;
                filter: brightness(0) invert(1); // Hace el logo blanco
            }
        }

        p {
            font-size: 0.8rem;
            color: rgba(255, 255, 255, 0.5);
            margin: 0;
        }
    }
}