// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$dark-color: #343a40;
$light-color: #f8f9fa;
$bg-color: #ffffff;
$bg-secondary: #f4f7f6;
$text-color: #333333;

// Typography
$font-body: 'Inter', sans-serif;
$font-title: 'Homenaje', sans-serif;

// Transitions
$transition-base: all 0.3s ease;