@import 'variables';

:root {
    --primary-color: #{$primary-color};
    --bg-color: #{$bg-color};
    --bg-secondary: #{$bg-secondary};
    --text-color: #{$text-color};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-body;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
    overflow-x: hidden;
}

h1,
h2 {

    font-family: $font-title;
    font-weight: 400;

    .dark {
        color: #363636;
    }

    .blue {
        color: #3A54FF;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @media (max-width: 768px) {
        padding: 0 15px;
    }
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 100px;

    @media (max-width: 768px) {
        min-height: auto;
        padding: 60px 0;
    }
}

// Global Heading Adjustments for Mobile
@media (max-width: 768px) {
    h1 {
        font-size: 3.5rem !important;
    }

    h2 {
        font-size: 2.22rem !important;
    }
}