@font-face {
    font-family: 'Söhne';
    src: url('../../assets/fonts/Sohne-Extrafett.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('../../assets/fonts/Sohne-Fett.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('../../assets/fonts/Sohne-Halbfett.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('../../assets/fonts/Sohne-Halbfett.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('../../assets/fonts/Sohne-Leicht.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('../../assets/fonts/Sohne-Extraleicht.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}