@import '../../../styles/_variables.scss';

.hero-section {
  text-align: center;
  background-color: var(--bg-color);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-bottom: 4rem;

    @media (max-width: 768px) {
      height: 90vh;
      padding-bottom: 3rem;
      justify-content: center;
    }
  }

  .hero-title {
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 16px;
    background: linear-gradient(122.83deg, #363636 19.85%, #9C9C9C 78.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (max-width: 1200px) {
      font-size: 6rem;
    }

    @media (max-width: 992px) {
      font-size: 5rem;
    }

    @media (max-width: 768px) {
      font-size: 3.5rem;
      margin-bottom: 15px;
    }

    @media (max-width: 480px) {
      font-size: 2.8rem;
    }
  }

  .hero-subtitle {
    font-size: 1rem;
    line-height: 1.4;
    color: #8F8F8F;
    margin-bottom: 30px;
    max-width: 800px;

    @media (max-width: 768px) {
      font-size: .8rem;
      line-height: 1.5;
      padding: 0 10px;
    }
  }
}