@import '../../../styles/_variables.scss';

.hero-section {
  text-align: center;
  background-color: var(--bg-color);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-bottom: 5rem;
  }

  .hero-title {
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 10px;
    background: linear-gradient(122.83deg, #363636 19.85%, #9C9C9C 78.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    line-height: 1;
    color: #8F8F8F;
    margin-bottom: 30px;
  }
}