@import '../../../styles/_variables.scss';

.agencia-section {
    padding: 100px 0;
    text-align: center;

    h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    p {
        max-width: 700px;
        margin: 0 auto;
        color: var(--secondary-color);
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .agencia-section {
        padding: 60px 20px;

        h2 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.1rem;
        }
    }
}