@import '../../../../styles/_variables.scss';

.hero-2-subsection {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}