// src/styles/base/_globals.scss
@use '../variables/colors' as *;

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: $color-background;
  color: $color-text-primary;
  line-height: 1.6;
}
