@use '../../styles/_variables.scss' as *;

.section-pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 20px;
    border-radius: 50px;
    margin-bottom: 10px;

    span {
        color: #ffffff;
        font-family: $font-body;
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
}